body {
    font-family: 'Poppins', sans-serif;
   
    /* width */
    ::-webkit-scrollbar {
      width: 7px;
    }
  
    /* Track */
    ::-webkit-scrollbar-track {
      background: #f1f1f1;
    }
  
    /* Handle */
    ::-webkit-scrollbar-thumb {
      background: #888;
    }
  
    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
      background: #555;
    }
  }
  
  body {
    font-family: 'Poppins', sans-serif;
    
    .edit-button {
      @include edit-button;
    }
    .delete-button {
      @include delete-button;
    }
    .view-button {
      @include view-button;
    }
    .accept-button {
      @include accept-button;
    }
    .ant-table-thead .ant-table-cell {
      background: $bg-white;
    }
    .button-square {
      @include button-square;
    }
    .form-control {
      @include formInput;
    }
    .selectBox {
      @include selectBox;
    }
    .text-center {
      @include text-center;
    }
    .fullwidth {
      width: $full-width; 
    }
    .fullwidth-right {
      @include flex(flex-end, flex-end);
    }
    .ant-modal-content {
      .ant-modal-title {
        font-weight: 600;
        font-size: 20px;
        line-height: 30px;
      }
    .ant-modal-body {
      form {
        background:transparent!important;
        .title {
           @include flex(start, center);
           margin-top: 30px;
           input:focus {
            outline: none;
           }
           span {
             display: inline-block;
             margin-left: 15px;
           }
        }
      }
    }
    .mt-5 {
      margin-top: 30px;
    }
    }
    .ant-pagination {
      .ant-pagination-disabled {
        .ant-pagination-item-link {
          color: #333;
          background-color: #dedede;
        }
      }
  //   .ant-pagination-item-active a {
  //     color: #fff;
  //     background: #15558d;
  //     &:hover {
  //       background-color: #20c0f3;
  //       color: #fff;
  // }
  // }
  
  .ant-pagination-item-active {
    background: #15558d;
    border-color: #15558d;
    &:hover {
      background-color: #20c0f3;
      border-color: #20c0f3;
    }
    a {
    color: #fff!important;
    }
  }
  .ant-pagination-item  {
  a {
    color: #9a9a9a;
  }
}
  }
  .MuiInputBase-input {
    font-size: 15px;
    color: #7d7d7d;
  }
  }
    