@mixin flex($justifyContent, $alignItem) {
  display: flex;
  justify-content: $justifyContent;
  align-items: $alignItem;
}

@mixin font-size(
  $size,
  $weight: 400px,
  $font-family: $default-font-family,
  $line-height: $default-line-height
) {
  font-size: map-get($map: $font-size, $key: $size);
  font-family: $font-family;
  font-weight: $weight;
  line-height: $line-height;
}

@mixin breakpoint($type) {
  @if $type==xs {
    @media only screen and (max-width: map-get($device-width,$type)) {
      @content;
    }
  } @else {
    @media only screen and (min-width: map-get($device-width,$type)) {
      @content;
    }
  }
}
@mixin fixed {
  position: fixed;
  top: 0;
  left:0;
  right: 0;
  z-index: 1100;
}
@mixin direction ($direction){
  flex-direction: $direction;
}

@mixin margin-padding($margin, $padding) {
  margin: $margin;
  padding: $padding;
}
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}
@mixin head {
  font-weight: 600;
  margin-bottom: 20px;
}
@mixin button {
  padding: 15px;
  color: $white;
  border: none;
  box-shadow: none;
  padding: 5px 20px;
  outline: none;
  text-transform: capitalize;
  @include border-radius(4px);
  font-weight: $bold;
  cursor: pointer;
  color: $white;
  @include transit;
}
@mixin plus-button {
  @include button;
  min-width: 3rem;
  background-color: #57beff;
}
@mixin add-button {
  background-color: $theme-button;
  @include button;
}
@mixin edit-button {
  @include button;
  background-color: $edit-button;
  &:hover {
    background-color: #178fb5;
    color: #fff;
  }
  &:active,
  &:focus {
   background: #20c0f3;
   color: #fff;
  }
}
@mixin saveButton {
  @include button;
  background-color: $blueDark;
  color: $white;
  &:active,
  &:focus {
    background-color: $blueDark;
  color: $white;
  }
  &:hover {
    background-color: #095191;
  }
  width: 30%;
  font-size: 18px;
  margin: 35px auto;
}
@mixin btnTransparent {
  background: #fff;
  border: none;
  outline: none;
  font-weight: 500;
  color: #808080;
 margin-left: auto;
 cursor: pointer;
 @include transit;
 &:hover {
   color: #178fb5;
 }
}

@mixin delete-button {
  @include button;
  background-color: $red-button;
  &:hover {
    background-color: #ad2428;
    color: #fff;
  }
  &:active,
  &:focus  {
    background-color: $red-button;
    color: #fff;
  }
}
@mixin view-button {
  @include button;
  background-color: $view-button;
  &:active,
  &:focus  {
    background-color: $view-button;
    color: #fff;
  }
  &:hover {
    background-color: #15558d;
  }
  }
@mixin blueDark-button {
  @include button;
  background-color: $blueDark;
  color: $white;
  &:active,
  &:focus {
    background-color: $blueDark;
  color: $white;
  }
  &:hover {
    background-color: #095191;
  }

}
@mixin common-button {
  @include button;
  background-color: $view-button; 
}
@mixin accept-button {
  @include button;
  background-color: $accept-button;
}

@mixin formInput {
  @include border-radius(5px);
  color: $gray-dark;
    font-size: 15px;
    font-weight: normal;
    line-height: 1.5;
    border: 1px solid #dcdcdc;
    padding: 13px;
    width: 100%;
    outline: none;
    height: 45px;
    min-width: 200px;
}
@mixin selectBox {
  @include border-radius(30px);
  background-color: transparent;
    border: 1px solid #D7D9DC;
    text-align: left;
    text-transform: none;
    color: #464B50;
    padding: 0 1em;
    min-width: 10em;
    outline: none;
}
@mixin text-center {
  text-align: center;
}
@mixin formTo {
  display: inline;
  padding: 0 15px;
}
@mixin circular--square {
  border-radius: 50%;
}

$sizes: 24;

@mixin margin-classes {
  @for $i from 1 through $sizes {
     $margin: $i * 0.25rem;
    /* margin #{$margin} */
    .m#{$i}  {margin: $margin;}
    .ml#{$i} {margin-left: $margin;}
    .mr#{$i} {margin-right: $margin;}
    .mt#{$i} {margin-top: $margin;}
    .mb#{$i} {margin-bottom: $margin;}
    .mx#{$i} {margin-left: $margin; margin-right: $margin;}
    .my#{$i} {margin-top: $margin; margin-bottom: $margin;}
  }
}
@include margin-classes;

$sizes: 24;

@mixin padding-classes {
  @for $i from 1 through $sizes {
$padding: $i * 0.25rem;
    .p#{$i}  {padding: $padding;}
    .pl#{$i} {padding-left: $padding;}
    .pr#{$i} {padding-right: $padding;}
    .pt#{$i} {padding-top: $padding;}
    .pb#{$i} {padding-bottom: $padding;}
    .px#{$i} {padding-left: $padding; padding-right: $padding;}
    .py#{$i} {padding-top: $padding; padding-bottom: $padding;}
  }
}
@include padding-classes;

@mixin transit {
 transition: all .4s ease-in-out;
 -moz-transition: all .4s ease-in-out;
 -webkit-transition: all .4s ease-in-out;
}
