@mixin flex($justifyContent, $alignItem) {
  display: flex;
  justify-content: $justifyContent;
  align-items: $alignItem;
}

@mixin font-size(
  $size,
  $weight: 400px,
  $font-family: $default-font-family,
  $line-height: $default-line-height
) {
  font-size: map-get($map: $font-size, $key: $size);
  font-family: $font-family;
  font-weight: $weight;
  line-height: $line-height;
}

@mixin breakpoint($type) {
  @if $type==xs {
    @media only screen and (max-width: map-get($device-width,$type)) {
      @content;
    }
  } @else {
    @media only screen and (min-width: map-get($device-width,$type)) {
      @content;
    }
  }
}

@mixin margin-padding($margin, $padding) {
  margin: $margin;
  padding: $padding;
}
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}
@mixin head {
  font-weight: 600;
  margin-bottom: 20px;
}