@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
@import './global';
@import './mixins';
@import '../pages/Header/index';
@import '../pages/Footer/index';
@import '../pages/Dashboard_Content/index';
@import '../pages/Dashboard_Content/Appointments/style.scss';
@import '../pages/Dashboard_Content/Calendar/style.scss';
@import '../pages/Dashboard_Content/Campaigns/style.scss';
@import '../pages/Dashboard_Content/Dashboard/style.scss';
@import '../pages/Dashboard_Content/Forms/style.scss';
@import '../pages/Dashboard_Content/Analytics/style.scss';
@import '../pages/Dashboard_Content/Message/style.scss';
@import '../pages/Dashboard_Content/MyPatients/style.scss';
@import '../pages/Dashboard_Content/Provider/style.scss';
@import '../pages/Dashboard_Content/Branch/style.scss';
@import '../fossilmdComponents/FossilBreadCrumb/style.scss';
@import '../pages/Login/style.scss';




body{
    font-family: 'Poppins', sans-serif;
    .edit-button{
        @include edit-button;
    }
    .delete-button {
        @include delete-button;
    }
    .view-button {
        @include view-button;
    }
    .accept-button {
        @include accept-button;
    }
    .ant-table-thead .ant-table-cell {
        background: $bg-white;
    }
    .button-square {
        @include button-square;
    }
    .form-control {
        @include formInput;
    }
    .selectBox {
        @include selectBox;
    }
    .text-center {
        @include text-center;
    }
    .fullwidth {
        width: $full-width;
    }
}








