
.dashboard{
    .table-content-box{
        margin-top: 50px;
        h2 {
            @include head;
        }
        .table-content {
            .headerButton {
                background: $bg-white;
                padding: 20px;
    border-bottom: 1px solid #f1f1f1;
            }
            .ant-table-thead {
                .ant-table-cell {
                    background: $bg-white;
                }
            }
        }
    }
}

.card-section {
    .ant-list {
        .ant-list-item {
          margin-bottom: 25px;
         
          .ant-card{
            padding: 0px  !important;
            @include border-radius(6px);
           
          .ant-card-body {
              @include flex(center, center);
            
            flex: 1;
            box-shadow: 0 8px 15px #dcdfe6;
            padding: 0px  !important;
            min-height: 50px;
            .inline-card-item {
                width: 100%;
                flex: 1;
                @include flex(flex-start, center);
    .count-square-bg {
        border-bottom-left-radius: 5px;
        border-top-left-radius: 5px;
        width: 60px;
        height: 55px;
       // @include border-radius(100px);
        background-color: rgb(66, 165, 246);
        @include flex(center, center);
        color: $white;
        margin-right: 10px;
        font-weight: 600;
    font-size: 18px;
}
}
}          
}
}
}
}

