.provider{
    .header{
        @include flex(space-between , center)
    }
}
.appointment-time{
  .header{
    margin: 15px 0px;

  }    .item{
    margin:50px 0px;
    .switch-section{
      margin-top: 10px
    }
  }
  .from-to {
    @include formTo;
  }
}


.appointment-type {
  .header {
    @include flex(space-between, center);
    padding: 10px;
    .plus-button {
      border: none;
      background-color: #57beff;
      cursor: pointer;
      border-radius: 10%;
      &:hover {
        background-color: #15558d;
      }
    }
  }
}
.schedule-time {
  padding: 30px 30px 0;
  .breadcrumb {
    margin: 0;
    .breadcrumb-nav {
      height: auto;
      padding: 15px 0;
    }
  }
  .left-side {
    background-color: $container-background;
    padding: 15px;
  }
  .right-side {
    padding-left: 30px;
    .ant-table-content {
      .selectBox {
        .ant-select-selector {
          background-color: transparent;
          border: none;
          outline: none;
        }
      }

    }
  }
}

.custom-field{
  .inner-box{
    .form-to {
      @include formTo
    }
    .full-width-table {
      .ant-table-wrapper {
        overflow-x: scroll;
      }
    }
    .ant-table-pagination.ant-pagination {
      margin: 25px 0;
    }
    .appointment-time .item .switch-section {
      margin-top: 20px;
    }

  }
}
.ant-table-pagination.ant-pagination {
  margin: 25px 0;
}
.appointment-time .item .switch-section {
  margin-top: 20px;
}

.login__form {
  .add-field-box {
    display: flex;
    .ant-switch-checked {
      .ant-switch-inner{
        min-width: 5rem;
      }
    }
    .ant-switch-inner {
      min-width: 5rem;
    }
  }

}
.addOption {
  // .ant-form-item {
  //   flex-direction: column;
  // }

  .ant-form-item-label {
    text-align: left;
  }
  .ant-col-sm-offset-4 {
    margin-left: 0;
  }
}

// .switch-section {
//   .ant-space {
//     display: flex;
//     flex-direction: row;
//     .ant-space-item {
//       @include margin-padding(5px, 0);
//     }
//   }
// }

