.provider{
    .header{
        @include flex(space-between , center)
    }
}





.appointment-type {
  .header {
    @include flex(space-between, center);
    padding: 10px;
    .plus-button {
      border: none;
      background-color: #57beff;
      cursor: pointer;
      border-radius: 10%;
    }
  }
}
.schedule-time {
  .left-side {
    background-color: $container-background;
    padding: 10px;
  }
  .right-side {
    padding: 10px;
  }
}
