.dashboard__header {
  background: $primary;
  color: $white;
  // @include margin-padding(0px, 0);
  font-weight: 600;
  text-transform: capitalize;
  font-size: 20px;
  padding: 15px 30px;
  height: 75px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  @include fixed;
  @include breakpoint(xs) {
    z-index: 100;
  }
  a{
    text-decoration: none;
    color: white;
  }
  h3 {
    color: $white;
    margin-bottom: 0;
    @include breakpoint(xs) {
      margin-left:40px;
    }
    a {
      color: $white;
      text-decoration: none;
      font-size: 25px;
      @include breakpoint(xs) {
        font-size: 20px;
      }
    }
  }
  
}
