.ant-tabs {
    // .ant-tabs-tab.ant-tabs-tab-active {
    //   .ant-tabs-tab-btn {
    //     padding: 0 30px;
    //     font-size: 16px;
    //   color: #2be0fd;
    // }
    .ant-tabs-tab-btn {
      font-weight: 500;
      color: #15558d;
      padding: 0 30px;
}
}
.newCampaign {
  .boxWrapper {
    display: flex;
    flex-wrap: wrap;
    max-width: 900px;
  .box {
    border: 1px solid #fafafa;
    margin: 5px;
    width: 20%;
    flex-basis: 150px;
    flex-grow: 1;
    .boxInner {
      height: 100%;
      padding: 10px;
      @include border-radius(5px);
      .tickIcon {
        display: flex;
        justify-content: flex-end;
        height: 40px;
        font-size: 20px;
        .activeClr {
          color: #109400;
        }
      }
      .text-center {
        .MuiInputLabel-animated {
          font-size: 14px;
        }
        .MuiInputBase-input {
          font-size: 13px;
        }
        .iconRound {
          width: 50px;
          height: 50px;
          @include border-radius(50%);
          background: #e0e0e0;
          margin: auto;
          margin-bottom: 25px;
          @include transit;
          @include flex(center, center);
          i {
            font-size: 25px;
            color: #ffffff;
          }
&:hover {
 background:#038FDF;
}
        }
      }
    }
  }
}
.view-button {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  height: 40px;
}
}


.smsEditmodalCampaign {
  .mobileBg {
    height: 450px;
  .mobile-background {
    background-repeat: no-repeat;
    height: 100%;
    background-position: center center;
    position: relative;
    .textareaHight {
      display: block;
    min-height: 360px;
    textarea {
      position: absolute;
      right: 0px;
    top: 59px;
    left: 193px;
    width: 34%;
    resize: none;
    border: none;
    outline: none;
    }
  }
  .msgLength {
    position: absolute;
    right: 202px;
  }
  }
}
.modalRight {
  height: 100%;
  .collapseContent {
    min-height: 60%;
  }
  .mbltextBtn {
    display: flex;
    justify-content: flex-end;
  }
}
  .ant-collapse {
    background-color: transparent;
    border: none;
    .ant-collapse-item {

      .ant-collapse-content-box {
        background: #fafafa;
      }
    }
    .ant-collapse-item-active {
      background: #048fdf;
      .ant-collapse-header {
        color: $white;
        .ant-collapse-arrow {
          svg {
            color: $white;
          }
        }
      }
    }
  }
}