.chatmain {
  .messagedetail {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-right: auto;
    height: 55px;
    padding-bottom: 8px;
    .useravatar {
      width: 50px;
      height: 50px;
      border-radius: 50%;
    }
    .right {
      padding-left: 10px;
      padding-top: 10px;
      justify-content: center;
      align-items: center;
    }
  }
  .chat {
    background-color: #ececec;
    // min-height: 300px;
    min-height: calc(100vh - 224px);
    max-height: calc(100vh - 224px);
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 20px;
    p {
      // padding: 10px;
      // margin: 30px;
      margin-bottom: 0;
      color: #333;
    }
  }
  .message-sentbox {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
      input[type="text"] {
        background-color:#ececec;
        border-radius: 15px;
        padding-left: 40px;
        height: 40px;
        width: 500px;
        border: #e2e2e2;
        outline: none;
        color: #333;
      }
      input[type=file] {
        display: none;
    }
    .sent-button{
        justify-content: space-between;
        border: none;
        color: #ffffff;
        background-color:#15558d;
        min-width: 46px;
        min-height: 46px;
        border-radius: 50%;
        outline: none;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .sent-button {
      justify-content: space-between;
      border: none;
      color: #ffffff;
      background-color: #ff5a5f;
      min-width: 46px;
      min-height: 46px;
      border-radius: 50%;
      outline: none;
    }
    .paper-clip {
      font-size: 34px;
      margin-left: 30px;
    }
  }
}
.leftside-chat {
  width: auto;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  .msgbox {
      max-width: 60%;
      background-color: #dcdcdc;
      padding: 10px;
      border-radius: 15px 0px 15px 15px !important; 
      margin-bottom: 10px;
    }
  }


.rightside-chat {
  width: auto;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  .msgbox {
    max-width: 60%;
    border-radius: 0px 15px 15px 15px !important ;
    background-color: #ffffff;
    padding: 10px;
    margin-bottom: 10px;
  }
}
