.appointment-section{
    .search {
        @include flex(flex-end , flex-end);
        margin-bottom: 15px;
    }
    .title-name {
        font-weight: 600;
        font-size: 14px;
    }
    .iconAppt {
        i {
            width: 20px;
        }
       
    }
    .right-side{
        @include flex(center, center)
    }
}