.ant-modal-mask{
    background-color: rgba(22,22,22,.5);
    backdrop-filter:blur(10px)
}
.header {
    button {
        @include common-button;
    }
}



.table-content {
    margin-top:50px;
    .ant-table-thead {
        .ant-table-cell {
            background: $white;
        }
    }
}
.MuiFormControl-root {
    width: 90%;
}