.dashboard__content {
  background-color: $container-background;

  // @include margin-padding(0px, 15px);
  // @include padding-padding(30px 0 0 0);
  padding: 30px 0 0;
  .leftblock-sidenav {
    padding-left: 30px;
  }
  .rightblock-content {
    padding: 0 30px;
    .dashboard {

      }
    }
  }


.dashboard__sidebar{
  background-color:$white;
  border: 1px solid $gray-light;
  .sidebar_header{
    flex-direction: column;
    @include flex( center, center);
    @include margin-padding(0px, 20px);
    border-bottom: 1px solid $gray-light;
    .profileDashboard {
      @include margin-padding(10px, 8px);
    img{
      width: 100px;
      height: 100px;
      border-radius: 50%;
    }
  }
    .hospital_name{
      @include font-size(l);
      color:$gray ;
    } 
    
  }
  .sidebar_list{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 300px;
    max-height: calc(100vh - 274px);
    overflow-y: auto;
    .ant-list-item {
      padding: $padd-0;
    .ant-list-item-meta{
      padding: 16px 20px;
    }
  }
  }
}