.dashboard__content {
  // height: 100vh;
  background-color: $container-background;

  // @include margin-padding(0px, 15px);
  // @include padding-padding(30px 0 0 0);
  padding: 30px 0 0;
  .leftblock-sidenav {
    padding-left: 30px;
  }
  .rightblock-content {
    padding: 0 30px;

  }
}

.dashboard__sidebar {
  ::-webkit-scrollbar { 
    display: none; /* Chrome Safari */
}
  background-color: $white;
  border: 1px solid $gray-light;
  .sidebar_header {
    flex-direction: column;
    @include flex(center, center);
    @include margin-padding(0px, 20px);
    border-bottom: 1px solid $gray-light;
    .profileDashboard {
      // @include margin-padding(10px, 8px);
      img {
        width: 85px;
        height: 85px;
        border-radius: 50%;
        margin-bottom: 15px;  
      }
    }
    .hospital_address {
      margin-bottom: 0;
    }
    .hospital_name {
      @include font-size(l);
      color: $gray;
    }
  }
  .sidebar_list {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 300px;
    max-height: calc(100vh - 274px);
    overflow-y: auto;
    .ant-list-item {
      padding: $padd-0;
      &:hover i {
        color: #15558d
      }
      &:hover a {
        color: #15558d
      }
      .ant-list-item-meta {
        padding: 16px 20px;
        a {
          font-size: 14px;
        }
      }
    }
  }
}
