body {
  font-size: 16px !important;
}
h1 {
  font-size: 40px;
}
h2 {
  font-size: 32px;
}
h3 {
  font-size: 28px;
}
h4 {
  font-size: 24px;
}
h5 {
  font-size: 20px;
}
h6 {
  font-size: 14px;
}
.w100 {
  width: 100%;
}
.landing-page-main {
  .text-center {
    @include text-center;
  }
  p {
    font-size: 16px;
  }
  .container {
    width: 100%;
    display: flex;
    align-self: center;
    margin: auto;
  }
  .theme_button {
    background-color: #05d6e7;
    color: #fff;
    font-size: 20px;
    min-width: 10rem;
    @include border-radius(5px);
    border-color: #05d6e7;
    box-shadow: none;
  }
  .btn {
    padding: 6px 12px;
    margin-bottom: 0;
    display: inline-block;
    text-decoration: none;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    @include transit;
    &:focus {
      color: #333;
      outline: none;
    }
    &:active:focus {
      outline: none;
    }
    &:hover {
      color: #333;
      text-decoration: none;
    }
    &:active {
      background-image: none;
      outline: 0;
      -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
      box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    }
  }
  .titleCaption {
    font-size: 50px;
    color: #1a568b;
    font-weight: 600;
    line-height: 1.2;
  }

  @include breakpoint(sm) {
    .container {
      max-width: 540px;
    }
  }
  @include breakpoint(m) {
    .container {
      max-width: 720px;
    }
  }

  @include breakpoint(l) {
    .container {
      max-width: 960px;
    }
  }
  @include breakpoint(xl) {
    .container {
      max-width: 1140px;
    }
  }
  .landing-banner {
    background: url(../LandingPage/assets/images/banner.png) no-repeat top center;
    background-size: cover;
    .doctorPic {
      padding-top: 50px;
    }
    .caption {
      min-height: 500px;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      justify-content: center;
      @include margin-padding(25px, 0px);
      h1,
      h2 {
        color: $white;
      }
      h1 {
        font-size: 60px;
        font-weight: 600;
        margin-bottom: 0;
        line-height: 60px;
      }
      h2 {
        font-weight: 300;
      }
    }
  }

  .landing_pricing {
    background: #ebf7f6;
    padding: 50px 0;
    .pricing_section {
      .pricing_head {
        text-align: center;
      }
      .listedPrice {
        .pricinBox {
          background: #fff;
          margin: 20px;
          padding: 35px 20px;
          border-bottom: 10px solid #1a568b;
          box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
          .header {
            text-align: center;
            h2 {
              margin-bottom: 0;
              font-weight: 400;
            }
            .price {
              font-size: 36px;
              font-weight: 600;
              color: #5497d5;
            }
          }
          .priceBody {
            p {
              @include flex(space-between, center);
              .listing {
                font-size: 1.1rem;
                color: $gray;
                @include transit;
                cursor: pointer;
                &:hover {
                  color: $cyan;
                }
              }
              i {
                color: $cyan;
              }
            }
          }
        }
      }
    }
  }

  .landing-add {
    .addSection {
      background: url(../LandingPage/assets/images/add.png) no-repeat top center;
      background-attachment: fixed;
      @include margin-padding(0, 50px);
      background-attachment: fixed;
      width: 100%;
      background-size: cover;
      .addCaption {
        @include margin-padding(20px, 50px);
        @include text-center;
        h1,
        p {
          color: $white;
        }
      }
    }
  }

  .landing-testimonials {
    .quoteBox {
      .testimonialFooter {
        @include flex(left, center);
        .ant-avatar {
          width: 70px;
          height: 70px;
          line-height: 60px;
          border: 5px solid #f5f5f5;
        }
        .name {
          font-weight: 500;
          @include margin-padding(0, 15px);
          color: #1a568b;
        }
      }
    }
    .banner {
      position: relative;
      img {
        width: 85%;
        max-width: 100%;
        position: absolute;
        top: -55px;
        right: 0;
      }
    }
  }
  .processWrapper {
    background-attachment: fixed;
    background: url(../LandingPage/assets/images/stepsBg.png) no-repeat top center;
    background-size: cover;
    @include margin-padding(0, 50px);
    .container {
        flex-direction: column;
    .heading {
      text-align: center;
      h1 {
        color: $white;
        margin-bottom: 0;
      }
      .lightFont {
        font-weight: 200;
      }
    }
    .stepsAppointment {
      .whiteBox {
        background: #fff;
        @include margin-padding(0 , 20px);
        border-right: 1px solid #e8e8e8;
        position: relative;
        .stepRound {
          width:50px;
          height: 50px;
          background: #05d6e7;
          @include border-radius(100px);  
          @include flex(center , center);
          color: $white;
          font-size: 20px;
          font-weight: 600;
          box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
          @include transit;
          &:hover {
            background: #061138;
            color: $white;
          }
        }
        .boxStart {
          position: absolute;
          left: -25px;
          top: 50%;
          transform: translate(0px, -50%);
        }
        .iconBox {
            width: 125px;
            height: 125px;
            padding: 5px;
            text-align: center;
            margin: auto;
            @include flex(center , center);
        }
        .footerCaption {
            text-align: center;
            @include margin-padding(0 , 30px);
            padding-left: 0;
            padding-right: 0;
        }    
      }
    }
  }
}
}
