.onlinebookWrapper {
  background-color: #f4f6f7;
  // height: 100vh;
  width: 100%;
  @include flex(center, center);
  .login-page {
    width: 80%;
    padding: 50px;
    background-color: $bg-white;
    @include border-radius(3px);
    h1 {
      margin-bottom: 35px;
    }
    .edit-button {
      margin-top: 35px;
    }
    .loginInput {
      div {
        width: $full-width;
        margin-bottom: 20px;
      }
    }
    .ant-divider-horizontal {
      margin: 0;
    }
    .officesList {
      padding: 10px;
    }
  }
  .smallText {
    font-size: 14px;
    color: #7b7b7b;
  }
  .datebold {
    font-size: 15px;
    font-weight: 600;
  }
  .availDate {
    .slick-slide {
      width: 125px;
  }
  }
  .typeAppointment {
    background-color: rgb(237, 238, 238);
    font-weight: 500;
    color: black;
    padding:10px;
    border-radius: 3px;
    cursor: pointer;
  }
  .dropselectBox {
    background-color: #EDEEEE;
    text-align: center;
    border-radius: 5px;
    padding: 7px 5px;
  }
}

.timing:hover {
  background-color: #00cbe6;
}
